<script type="text/javascript" src="https://cdn.rawgit.com/bipashant/Static-Json/77da43f/childer/faq.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>


<link href="https://bbcdn.githack.com/bipashant/childer/raw/master/childer_custom_style.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Cardo|Varela+Round" rel="stylesheet">
<script type="text/javascript" src="https://bbcdn.githack.com/bipashant/childer/raw/master/childer_custom_javascript.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
        Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)
            [0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-102163022-1', 'auto', { allowLinker: true });
    ga('send', 'pageview');
</script>

