body {
    font-family: 'Cardo', serif !important;
}

h1, h2, h3, h4, h5, h6, h7, .left-navi-link-text, #homepage-filters, .marketplace-lander-content-description, .new-listing-form, #listing-message-links, .listing-price, .listing-details-container, .message-avatar-padding, #messages, #new_message_form, .listing-author-contact-button, #profile-listings-list, .profile-action-buttons-desktop, .settings-section, .login-form, #password_forgotten, .signup-form, #terms, .notification-settings h2, .listing-author-name, #conversations, .faq-popup h2,.faq-popup .box .question, .question-link, #new_feedback label{
    font-family: 'Varela Round', sans-serif !important;
}

.new-listing-form .price-container small, .new-listing-form .info-text-container p, #person_settings_form small, #terms p, #terms ul,
.notification-settings label,.faq-popup .box .answer, #person_settings_form .account-settings-row p, .payment-settings p,.signup-form.centered-section p, .preauthorize-section label, .preauthorize-section .form-row .col-12 p, .preauthorize-section .form-row + .row p {
    font-family: 'Cardo', serif !important;
}

.fluid-thumbnail-grid-image-overlay {
    display: none !important;
}

.fluid-thumbnail-grid-image-title {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.MenuPriority__hiddenLinks__1LcCU {
    display: none;
}

.fluid-thumbnail-grid-image-title, .home-fluid-thumbnail-grid-author-avatar {
    display: none;
}

.fluid-thumbnail-grid-image-price-container {
    left: 0;
    bottom: -30px;
    z-index: 9;
    top: unset;
    right: unset;
    background: transparent;
}

.home-fluid-thumbnail-grid-author {
    background: white;
    height: 25px;
}

.fluid-thumbnail-grid-image-image {
    border-radius: 0;
}

.listing-image-frame {
    background: #fff;
}

.fluid-thumbnail-grid-image-price {
    font-size: 14px;
}

@media (min-width: 48em) {
    .home-fluid-thumbnail-grid-narrow .home-fluid-thumbnail-grid-item {
        padding-right: 1.5em;
        margin-bottom: 1em;
    }
}

footer {
    background: #F0F0F0;
    background-size: contain;
    height: auto;
    position: relative;
    padding-top: 60px;
    padding-bottom: 20px;
}

footer .layout-centered-content {
    max-width: 984px;
    margin: 0 auto;
}

footer .row a {
    display: inline;
}

footer .footer-links h3 {
    font-size: 16px;
    padding-left: 15px;
    color: #959494;
    font-weight: bold;
    padding-bottom: 10px;
}

footer .footer-links a {
    color: #959494;
    font-size: 12px;
}

footer .bottom-footer-links {
    padding: 0px;
    font-size: 14px;
    color: #959494;
}

footer .bottom-footer-links li {
    list-style-type: none;
    padding-right: 20px;
    display: inline;
}

footer .bottom-footer-links li a {
    color: #959494;
    display: inline;
    font-size: 14px;
}

footer .social-links-list {
    margin-top: 5px;
    padding: 0px;
    text-align: left;
}

footer .social-links-list li {
    list-style-type: none;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0px 10px 0px 0px;
    padding-right: 0;
}

footer .social-links-list li a {
    display: block;
    height: 30px;
    /*padding: 40px 0px 0px 0px;*/
    overflow: hidden;
}

footer .social-links-list li.instagram a {
    font-size: 30px;
    color: #ccc;
}

footer .social-links-list li.twitter a {
    font-size: 30px;
    color: #ccc;
}

footer .social-links-list li.facebook a {
    font-size: 30px;
    color: #ccc;
}

footer .footer-store-links {
    clear: both;
    padding-top: 30px;
    text-align: center;
}

.col-xs-3, .col-sm-3, .col-xs-6, .col-sm-6, .col-xs-12, .col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-3, .col-xs-6, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-6 {
    width: 50%;
}

@media (min-width: 769px) {
    .home-fluid-thumbnail-grid-author {
        height: 15px;
    }

    .footer-links {
        margin-left: 10%;
    }

    .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-3 {
        width: 25%;
    }
}

.text-center {
    text-align: center;
}

.home-categories-main {
    text-transform: capitalize;
}

.faq-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
}

.faq-overlay:target {
    visibility: visible;
    opacity: 1;
}

.faq-popup {
    margin: 30px auto;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    position: absolute;
    transition: all 500ms ease-in-out;
    max-height: 90vh;
    overflow: scroll;
    top: 5vh;
    bottom: 5vh;
    left: 5%;
    right: 5%;
}
.faq-search-input-wrapper{
    position: relative;
    display: inline-block;
}

.faq-popup .main-content{
    height: 75%;
    overflow: scroll;
}
.faq-popup .box {
    background: #fff;
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
}
.question-list li {
    padding-top: 10px;
}

.faq-popup .main-content{
    -ms-overflow-style: none;
}

.faq-popup .box .question {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
}

.top-link{
    color: #999;
    font-size:12px;
    margin-top:15px;
}

.top-link .navigate-top::before {
    padding: 5px;
}

.popup-header{
    padding: 20px 20px 10px 20px;
    padding-left: 40px;
}

.faq-popup h2 {
    margin: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.faq-popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.faq-popup .close:hover {
    color: #06D85F;
}

.faq-popup .content {
    overflow: auto;
}

.faq-popup .question-link:hover {
    font-weight: 600;
}

.faq-popup .navigate-top{
    cursor: pointer;
}
.question-list, .question-list a{
    color:  #3c3c3c;
}

body.faq-open {
    overflow: hidden;
}

.faq-searchbar-wrapper{
    padding-top: 20px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input.faq-searchbar {
    padding: 10px;
    background: #fff;
    border-radius: 40px;
    border: 1px solid rgba(170,173,177,0.5);
    width: 300px;
    outline: none;
    padding-left: 15px;
}

@media (max-width: 480px) {
    input.faq-searchbar{
        width: 100%;
    }
    .popup-header{
        padding-left: 20px;
    }

    .faq-search-input-wrapper{
        display: block;
    }

    .faq-search-input-wrapper svg{
        stroke: #7a7d80;
        top: 14px;
    }
}

.faq-popup{overflow: hidden;}
.faq-popup .main-content{
overflow-y: scroll;
overflow-x: hidden;
padding: 5px;
-ms-overflow-style: -ms-autohiding-scrollbar;
border-top: 1px solid #ccc;
}
.fluid-thumbnail-grid-image-price-container{right: auto; top: 100%;}

.faq-popup .close:hover{color: red;}


.marketplace-lander .marketplace-lander-content-title {
    color: transparent;
}

.marketplace-lander p {
    color: transparent;
}

